.grid{
    height:100%;
    width:100%;
    display: grid;
    grid-template-areas:
    'topbar  topbar'
    'sidebar content'
    ;
    padding: 0px;
    position: absolute;
    top:0;
    grid-template-rows: 5% 95%;
    grid-template-columns: 20% 80%;
    left:0;
}
.topbar{
grid-area: topbar;
display: inline-grid;
grid-template-areas: "Home Name Account";
grid-template-columns: 1fr auto auto;
grid-row: 5%;
grid-template-rows: 100%;
background: #D9D9D9;
text-align: right;
padding: 4px;
align-content: center;
justify-content: flex-end;
}
#Name{
    grid-area: Name;
    vertical-align: middle;
    margin:0px;
    width: auto;
    justify-self: flex-end;
    text-align: center;
    align-self: center;
    font-size: larger;
    margin-right: 5%;
}
#Home{
    height: 100%;
    grid-area: Home;
    justify-self: flex-start;
}
#Account{
    height: 100%;
    grid-area: Account;
}
.sidebar{
background:#b3bfc0;
grid-area: sidebar;
justify-content: flex-start;
align-items: center;
display:flex;
position: relative;
flex-direction: column;
text-align:center;}
.content{
grid-area: content;
background: #50dfff;
text-align: center;
display: flex;
vertical-align: middle;
align-items: center;
flex-direction: column;

}
.sidebar-button{
    display: flex;
    width: 91%;
    background-color: #D9D9D9;
    height: 70px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.sidebar-button-text{
    font-family: Sans-Serif;
    font-size: 25px;
    position: absolute;
}
.sidebar-button > a{
    height:100%;
    width:100%;
    position: relative;
}
#Welcome_Block {
    width: 95%;
    height: 20%;
    display: block;
    justify-self: center;
    align-self: center;
    overflow: auto;
    border-radius: 30px;
    margin-top: 30px;
    background-color: #D9D9D9;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
#Welcome_To{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 20%;
    font-size: 2em;
    align-self: flex-start;
    justify-self: center;
}
#Nickys_Study{
    font-size: 7em;
    height: 80%;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
#HomeCat_Block{
    height: 70%;
    width: 95%;
    background-color: #d9d9d9;
    justify-self: center;
    margin-top: 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    display: grid;
    grid-auto-rows: 33.33%;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    overflow: auto;
    justify-items: center;
}
.card{
    width: 90%;
    height: 80%;
    align-self: center;
    overflow: auto;
    background: #BFBFBF;
    border-radius: 30px;
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-columns: 100%;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
#title{
    font-family:Inter;
    font-size: 32px;
    align-self: center;
    align-content: center;
    justify-self: center;
    margin: 0px;
}
#desc{
    font-size:28px;
    font-family:Inter;
    align-self: center;
    justify-self: center;
    margin: 0px;}
#blogsBlock {
    height: 100%;
    margin: auto;
    overflow-y: auto;
    overflow-x: visible;
    display: grid;
    grid-auto-rows: 25%;
    align-self: center;
    justify-items: center;
    align-items: center;
    background-color: #D9D9D9;
    width: 90%;
    min-height: 90%;
    align-self: center;
    justify-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
#LoginForm{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    padding: 5%;
    width:20%;
    height:20%;
}
#confirmation {
    display: grid;
    grid-template-areas: "question question"    "yes no";
    background-color: #D9D9D9;
    padding: 2%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    grid-template-rows: 50% 50%;
    justify-items: center;
    align-items: center;
}
#question {
    grid-area: question;
    margin-bottom: 12%;;
}
#yes {
    border: 0cm;
    display: flex;
    width: 70%;
    height: 100%;
    background-color: greenyellow;
    grid-area: yes;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
#yes:hover{
    cursor:pointer;
    rotate: 180;
}
#no {
    display: flex;
    width: 80%;
    height: 100%;
    background-color: red;
    grid-area: no;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
#homeIcon{
    filter: brightness(0.5);
    -webkit-filter: brightness(0.5);
}
#homeIcon:hover{
    filter: brightness(1);
    -webkit-filter: brightness(1);
}
#no > a, #yes > a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
#PostsBlock{
    height: 100%;
    margin: auto;
    overflow-y: auto;
    overflow-x: visible;
    justify-items: center;
    background-color: #D9D9D9;
    width: 90%;
    display: grid;
    grid-auto-rows: 20%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
#Registration{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    padding: 5%;
    width:20%;
    height:20%;
}
#PostForm{
    display: grid;
    grid-template-rows: 5% 5% 10% 40% 10%;
    width:90%;
    height: 90%;
    align-content: center;
}
#pageLayout {
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-rows: 15% 85%;
}
#postTitle{
    justify-self: center;
    justify-content: center;
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #D9D9D9;
    height: 80%;
    width:95%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-size: 64px;
    overflow-y: auto;
}
#postGrid{
    width:95%;
    height: 98%;
    background-color: #B3BFC0;
    display: grid;
    grid-template-areas: 'postContent postContent postContent'
    'deleteButton editButton madeBy';
    grid-template-rows: 90% 10%;
    grid-template-columns: 30% 30% 40%;
}
#greyBackground{
    width: 95%;
    height: 97%;
    align-items: flex-end;
    justify-items: center;
    background-color: #B3BFC0;
    display: grid;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
#postContent{
    min-width: 95.6%;
    justify-self: center;
    grid-area: postContent;
    background-color: #D9D9D9;
    font-size: 20px;
    padding: 2%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
#deleteButton{
    grid-area: deleteButton;
    align-content: center;
    background-color: #CD3F3F;
    color: #fff;
    font-size: x-large;
    font-family: Sans-Serif;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    text-decoration: none;
}
#editButton{
    text-decoration: none;
    grid-area: editButton;
    align-content: center;
    background-color: #d9d9d9;
    color: #000;
    font-size: x-large;
    font-family: Sans-Serif;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
#confirmEditButton{
    text-decoration: none;
    grid-area: editButton;
    align-content: center;
    background-color: #d9d9d9;
    color: #000;
    font-size: x-large;
    font-family: Sans-Serif;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
#madeBy{
    grid-area: madeBy;
    align-content: center;
    background-color: #d9d9d9;
    font-size: x-large;
    font-family: Sans-Serif;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}